{% extends "base.html" %}
{% load static %}
{% block base_head %}    <title>Baksoku|Password Change</title> {% endblock %}


{% block content_title %}<h1>{{ title }}</h1>{% endblock %}


{% block content %}
<div class="container-fluid">

    <div class="row justify-content-md-center">
        <div class="col-md-auto">

            <div id="content-main">
                <h2>Change Your Password</h2>
                <hr>

                <form method="post">{% csrf_token %}
                    <div>
                        {% if form.errors %}
                        <p class="errornote">
                            {% if form.errors.items|length == 1 %} <h5> "Please correct the error below." </h5>{% endif %}
                        </p>
                        {% endif %}


                        <p>"Please enter your old password, for security's sake, and then enter your new
                            password twice so we can verify you typed it in correctly."</p>

                        <fieldset class="module aligned wide">

                            <div class="form-row">
                                {{ form.old_password.label_tag }} {{ form.old_password }} <br/>
                                {{ form.old_password.errors }}

                            </div>

                            <div class="form-row">
                                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                {{ form.new_password1.errors }}
                                <!--
                                {% if form.new_password1.help_text %}
                                <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                {% endif %}-->
                            </div>

                            <div class="form-row">
                                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                {{ form.new_password2.errors }}
                                {% if form.new_password2.help_text %}
                                <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                {% endif %}
                            </div>

                        </fieldset>

                        <div class="submit-row">
                            <input type="submit" value="Change my password" class="default">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
